.hero-container {
  position: relative;
  width: 100%;
  height: 100vh;
  padding: 0;
  overflow: hidden;
}

.hero-image {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  background-position: center;
  z-index: -1;
  background-repeat: no-repeat;
  background-image: url("../static/img/hero_img.jpg");
}

.hero-text {
  animation: 0.8s tracking-in-contract 1.2s cubic-bezier(0.215, 0.610, 0.355, 1.000) both;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: center;
  color: #fff;
  font-family: 'Roboto', sans-serif !important;
}

@keyframes tracking-in-contract {
  0% {
    letter-spacing: 1em;
    opacity: 0;
  }

  40% {
    opacity: 0.6;
  }

  100% {
    letter-spacing: normal;
    opacity: 1;
  }
}