:root {
  --main-color: #9DD6CE;
  --main-color-light: #F2F2F2;
  --main-color-dark: #2F4858;
}

body {
  background-color: var(--main-color-light);
  font-family: 'Nunito', sans-serif !important;
  min-width: 370px;
  color: var(--main-color-dark);
}

.custom-button {
  color: var(--main-color-dark) !important;
}